/*----------------------------*/
/* Allgemeine Formatierungen: */
/*----------------------------*/
:root {
    --background-color: #efefef;
    --text-color: rgba(0, 0, 0, 0.62);
    --link-color: rgba(0, 0, 0, 0.62);
    --background-color-alternative: #e1e1e1;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    font-family: arial, sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

main p {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 1.5rem;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 1.25rem;
}

.ueber_mich h3 {
    text-align: left;
}



/*---------------------------------------*/
/* Mehrmals vorkommende Klassen im Code: */
/*---------------------------------------*/
.artikel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box1, .box2 {
    background: var(--background-color);
    padding: 20px;
    width: 400px;
    margin: 20px;
}

.mit_hintergrund, .mit_hintergrund_schmal {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
}



/*----------------------------------------*/
/* Navigationsbereich mit Hamburger-Menü: */
/*----------------------------------------*/
nav{
    height: 80px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav svg{
    margin-left: 30px;
}

nav ul{
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-bottom: 10px;
}

nav li {
    height: 100%;
    width: 150px;
    text-align: center;
}

nav li:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav ul a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#toggle_button {
    display: none;
}

.toggle_button {
    width: 42px;
    height: 42px;
    position: relative; /*geändert von absolute auf relative*/
    /*top: 25px;*/
    right: 40px;
    display: none;
    background-color: #aacd73;
    /*flex-direction: column;
    justify-content: space-around;*/
    padding-left: 10px;
}

.bar {
    height: 6px;
    width: 45px;
    background: white;
    border-radius: 100px;
    display: flex; /*?*/
    position: absolute; /*geändert von relative auf absolut*/
}

/* linien für das hamburger-menü */
.linie1 {
    top: 4px;
}

.linie2 {
    top: 18px;
}

.linie3 {
    top: 32px;
}




/*---------------------------*/
/* Main-Bereich formatieren: */
/*---------------------------*/
main .mit_hintergrund {
    padding-top: 20px;
    padding-bottom: 100px;
}

.mit_hintergrund p {
    text-align: center;
}

.die_praxis, .leistungen, .ueber_mich, .wichtige_informationen, .kontakt, .footer {
    padding-bottom: 20px;
}

.leistungen, .therapieangebot, .ueber_mich, .kontakt {
    background: var(--background-color-alternative);
}

.nav_a, .box2 a, .mit_hintergrund p a, .therapieangebot li a {
    color: var(--text-color);
}



/*---------------------------------------*/
/* Bereich "Die Praxis" (Bildergalerie): */
/*---------------------------------------*/
.bildergalerie {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bildergalerie li {
    margin: 20px;
}



/*-----------------------*/
/* Bereich "Leistungen": */
/*-----------------------*/
.leistungen {
    width: 100%;
}
.leistungen p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.therapieangebot {
    list-style-type: none;
    padding-bottom: 20px;
    margin: 0 auto;
    width: max-content;
}
.therapieangebot li {
    justify-content: left;
    text-align: start;
    border: 1px solid #e1e1e1;
}
.therapieangebot li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.therapieangebot li a:hover {
    text-decoration: underline;
}
.leistungen ul li:before {
    content: "\2713";
    color: #5c5c5c;
    margin: 5px;
}



/*----------------------------*/
/* Bereich "Praxisgrundsätze: */
/*----------------------------*/
.einleitung_praxisgrundsaetze {
    text-align: center;
    margin-bottom: 40px;
}
.praxisgrundsaetze article {
    display: inline-block;
    max-width: 375px;
    min-width: 200px;
    margin: 10px;
    padding: 10px;
}



/*----------------------*/
/* Bereich "Über mich": */
/*----------------------*/
.ueber_mich article {
    max-width: 60%;
    margin: auto;
    display: flow-root;
}
.ueber_mich article figure {
    margin-right: 40px;
    float: left;
}
.ueber_mich img {
    border-radius: 50%;
}



/*----------------------------------*/
/* Bereich "Wichtige Informationen: */
/*----------------------------------*/
.wichtige_informationen article {
    display: inline-block;
    max-width: 375px;
    min-width: 200px;
    margin: 10px;
    padding: 10px;
}
.wichtige_informationen ul {
    list-style-position: inside;;
}



/*-------------------------------------*/
/* Bereich Kontakt und Öffnungszeiten: */
/*-------------------------------------*/
.kontakt table {
    padding-bottom: 20px;
}
.breite_1 {
    width: 35px;
}
.breite_2 {
    width: 130px;
}



/*--------------------*/
/* Bereich "Anfahrt": */
/*--------------------*/
.anfahrt {
    padding-bottom: 40px;
}
.anfahrt p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.anfahrt .box iframe {
    max-width: 60%;
    max-height: 60%;
}


/*---------------------*/
/* Footer formatieren: */
/*---------------------*/
.mit_hintergrund_schmal {
    padding-bottom: 30px;
}
.logo_footer {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer ul {
    width: max-content;
    margin: 0 auto;
    list-style-type: none;
}
footer ul li {
    height: 30px;
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: rgba(255, 250, 250, 0.82)
}
footer ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}



/*------------------------------------------------------------------*/
/* Styles für die 2 ausgelagerten Seiten Impressum und Datenschutz: */
/*------------------------------------------------------------------*/
.content-breit {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
}
.impressum p {
    text-align: center;
    margin: 0 auto;
}
.datenschutz p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}


/**/
/**/
/**/



/*------------------*/
/* @media-Abfragen: */
/*------------------*/
@media (max-width: 800px) {
    .therapieangebot li a {
        max-width: 50%;
        max-height: 50%;
    }
}

@media (max-width: 960px) {
    .toggle_button {
        display: flex;
    }
    nav ul {
        height: min-content;
        width: 100%;
        background: var(--background-color);
        
        display: none;
        position: absolute;
        top: 80px;
    }
    nav li {
        height: min-content;
        width: 100%;
    }
    nav ul a {
        padding: 10px 0;
    }
    #toggle_button:checked ~ ul {
        display: block;
    }
    
    /* Zum Drehen lassen der Linien des Hamburger-Menüs bei Anklick: */
    #toggle_button:checked  ~ .toggle_button .linie1 {
        transform: rotate(-45deg);
        transition: transform 0.75s;
    }
    #toggle_button:checked ~ .toggle_button .linie2 {
        transform: rotate(-45deg);
        transition: transform 0.75s;
    }
    #toggle_button:checked ~ .toggle_button .linie3 {
        transform: rotate(-45deg);
        transition: transform 0.75s;
    }
    /* Zum Zurückdrehenlassen der Linien des Hamburger-Menüs bei erneuten Anklicken: */
    #toggle_button:enabled ~ .toggle_button .linie1 {
        transition: transform 0.75s;
    }
    #toggle_button:enabled ~ .toggle_button .linie2 {
        transition: transform 0.75s;
    }
    #toggle_button:enabled ~ .toggle_button .linie3 {
        transition: transform 0.75s;
    }
}

@media (min-width: 961px) {
    nav ul {
        display: flex;
    }
}

